.jobs-table {
    width: 100%;
    border: 2px solid var(--yellow);
    word-break: break-all;
    border-radius: 6px;
    background-color: #8787871f;

    th,
    td {
        padding: 5px clamp(1px, 2vw, 10px);
        ;
        text-align: center;
        border: 1px solid var(--yellow);
        border-bottom: none;
        border-left: none;
        transition: background-color 0.2s ease-out;
    }

    th {
        font-size: clamp(10px, 3vw, 20px);
        word-break: keep-all;
        border-top: none;
    }

    td:last-of-type,
    th:last-of-type {
        border-right: none;
    }

    &__edit-btn,
    &__delete-btn {
        display: inline-block;
        margin: 5px 10px;
        width: 40px;
        height: 40px;
        background-color: #ffffff7a;
        font-size: clamp(8px, 3vw, 18px);
        border: none;
        border-radius: 100%;
        transition: outline 0.3s ease-out, opacity 0.3s ease-out;
    }

    &__edit-btn {
        margin-bottom: 10px;
    }

    tr:has(td:hover) {
        td {
            background-color: #9d9d9d1f;

            .jobs-table__edit-btn,
            .jobs-table__delete-btn {
                opacity: 1;
            }
        }
    }
}

@media (hover: hover) {
    .jobs-table {

        &__edit-btn,
        &__delete-btn {
            &:hover {
                outline: 3px solid var(--yellow);
            }
        }
    }
}

@media (hover: none) and (pointer: coarse) {

    .jobs-table__edit-btn,
    .jobs-table__delete-btn {
        opacity: 1;
    }
}

.pagination {
    margin-top: 10px;

    &__btn {
        background-color: #ffffff83;
        height: 40px;
        width: 50px;
        border-radius: 100%;
        border: none;
        transition: box-shadow 0.3s ease-out;

        &.next {
            box-shadow: inset -10px 0 0 var(--yellow);

            &:hover {
                box-shadow: inset -8px 0 0 var(--yellow);
                filter: none;
            }
        }

        &.prev {
            box-shadow: inset 10px 0 0 var(--yellow);

            &:hover {
                box-shadow: inset 8px 0 0 var(--yellow);
                filter: none;
            }
        }
    }
}

@media (max-width: 600px) {

    .jobs-table th,
    .jobs-table td {
        padding: 5px 0;
        font-size: 8px;

        button {
            height: 20px;
            width: 20px;
        }
    }

}